################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/obj
/ShoppingCartService/bin/Debug
/ShoppingCartService/obj
/ShoppingCartService.Tests/obj
/ShoppingCartService.Tests/bin/Debug/net5.0
